:root{
    font-family: 'Roboto', sans-serif;
    --primary-color: #000;
    --secondary-color: aliceblue;
    --tertiary-color: #f5f5f5;
    --accent-color: #f44336;
    --accent-color-light: #e57373;
    --accent-color-dark: #d32f2f;
    --text-color: #333;
    --text-color-light: #fff;
    --text-color-dark: #000;
    --border-color: #ccc;
    --border-color-light: #fff;
    --border-color-dark: #000;
    --border-radius: 0.25rem;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-light: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-dark: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    max-width: 760px;
    background-color: #A91730;
    --background-color: #A91730;
}
.logo img{
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    border-radius: .75rem;
}
section {
    margin: 2rem auto;
    padding: 1rem;
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
section:nth-child(1) {
    grid-template-columns: 1fr 1fr;
}
section h1 {
    grid-column: span 3;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 10%;
}
section h2{
    grid-column: span 3;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

/* section h3:nth-child(3) {
    grid-column: span 3;
    text-align: center;
    margin-left: 1rem;
} */
section h3 {
    grid-column: span 2;
    text-align: left;
    /* margin-left: 1rem; */
}

section p {
    grid-column: span 3;
    margin-top: 0;
    /* border: #000 1px solid; */
}

.assignedTo{
    margin-top: 0;
}
.actiondate{
    /* margin-top: 0; */
    text-align: right;
    grid-column-start: 3;
    grid-row: 5;
    margin-top: 10px;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-weight: 600;
}
.actiondate2 {
    /* margin-top: 0; */
    text-align: right;
    grid-column-start: 3;
    grid-row: 9;
    margin-top: 10px;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
}
table thead tr {
    background-color: var(--background-color);
    color: var(--text-color-light);
}
table th, table td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid var(--border-color);
}
table tbody tr:nth-child(even) {
    background-color: var(--tertiary-color);
}

#detailTable {
    grid-column: span 3;
}

.tbl {
    grid-column: span 1;
    border: #333 1px solid;
    grid-gap: none;
    font-weight: 600;
    font-size: small;
    padding-left: 5px;
}


.logo img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}
#main-nav {
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
}
#main-nav a {
    color: var(--text-color-light);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    margin-right: 1rem;
    transition: var(--transition);
}
#entryform {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 2rem auto;
    padding: 1rem;
    background: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
}
#entryform label, #entryform input, #entryform textarea, #entryform select {
    /* display: block; */
    width: 99%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}
#legend {
    color: var(--secondary-color);
}

tr {
    font-size: small;
}

#assto, #createby, #priority, #status, #reqby {
    text-transform: uppercase;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    display: inline-block;
}

.response {
    /* column-span: 5; */
    text-align: left;
    /* shade the even rows */
    /* background-color: #f2f2f2; */
    border-bottom: #000 1px solid;
    /* italics */
    font-style: italic;

}

.appendmodal{
    border: #000 1px solid;
}

@media print {
    form{
        display: none;
    }
    .entryform {
        display: none;
    }
    #main-nav {
        display: none;
    }
}