:root{
    font-family: 'Roboto', sans-serif;
    --primary-color: #000;
    --secondary-color: aliceblue;
    --tertiary-color: #f5f5f5;
    --accent-color: #f44336;
    --accent-color-light: #e57373;
    --accent-color-dark: #d32f2f;
    --text-color: #333;
    --text-color-light: #fff;
    --text-color-dark: #000;
    --border-color: #ccc;
    --border-color-light: #fff;
    --border-color-dark: #000;
    --border-radius: 0.25rem;
    --transition: all 0.3s linear;
    --spacing: 0.25rem;
    --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-light: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    --shadow-dark: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    /* max-width: 1000px; */
    background-color: #A91730;
    --background-color: #A91730;
    margin: 1rem 1rem;
}
.logo img{
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: .75rem;
}
section {
    margin: 2rem auto;
    padding: 1rem;
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
section:nth-child(1) {
    grid-template-columns: 1fr 1fr;
}
section h1 {
    grid-column: span 3;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
    margin-left: 10%;
}
section h2{
    grid-column: span 3;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #000;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

/* section h3:nth-child(3) {
    grid-column: span 3;
    text-align: center;
    margin-left: 1rem;
} */
section h3 {
    grid-column: span 2;
    text-align: left;
    /* margin-left: 1rem; */
}

section p {
    grid-column: span 3;
    margin-top: 0;
    /* border: #000 1px solid; */
}

.assignedTo{
    margin-top: 0;
}
.actiondate{
    /* margin-top: 0; */
    text-align: right;
    grid-column-start: 3;
    grid-row: 5;
    margin-top: 10px;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-weight: 600;
}
.actiondate2 {
    /* margin-top: 0; */
    text-align: right;
    grid-column-start: 3;
    grid-row: 9;
    margin-top: 10px;
    padding-bottom: .5rem;
    margin-bottom: 0;
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid var(--border-color);
    margin-bottom: 1rem;
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
}
table thead tr {
    background-color: var(--background-color);
    color: var(--text-color-light);
}
table th, table td {
    padding: 0.5rem;
    text-align: center;
    border: 1px solid var(--border-color);
}
table tbody tr:nth-child(even) {
    background-color: var(--tertiary-color);
}

#detailTable {
    grid-column: span 3;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    /* color: var(--text-color); */
    background-color: var(--background-color);
    transition: var(--transition);

}

.tbl {
    grid-column: span 1;
    border: #333 1px solid;
    font-weight: 600;
    font-size: small;
    padding-left: 5px;
}


.logo img {
    max-width: 200px;
    margin: 0 auto;
    display: block;
    margin-bottom: 10px;
}

/* #main {
    margin: auto;
    max-width: 1000px;

} */

#main-nav ul{
    /* position: relative; */
    /* overflow: hidden; */
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    display: flex;
    background-color: var(--primary-color);
    color: var(--text-color-light);
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
    list-style: none;
}

#login {
    margin-top: 0;
    margin-left: auto;
    text-align: right;

}

#aisubmenu {
    visibility: hidden;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    z-index: 1;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
}

#aisubmenu a {
    color: var(--text-color-light);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: var(--transition);
}

#aisubmenu a:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
}

#aisubmenu a:active {
    background-color: var(--accent-color);
    color: var(--text-color-light);
}

#main-nav ul li {
    position: relative;
    display: inline-block;
    transition: var(--transition);
}

#main-nav ul li:hover #aisubmenu {
    visibility: visible;
}

#prjsubmenu {
    visibility: hidden;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    z-index: 1;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
    opacity: 0;
}

#prjsubmenu a {
    color: var(--text-color-light);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: var(--transition);
}



li:hover ul#aisubmenu {
    opacity: 1;
    top: 25px;
    visibility: visible;
}

li:hover ul#prjsubmenu {
    opacity: 1;
    top: 25px;
    visibility: visible;
}

#main-nav a {
    color: var(--text-color-light);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    /* text-transform: uppercase; */
    letter-spacing: 1px;
    margin-right: 1rem;
    transition: var(--transition);
}

.dataentry {
    display: grid;
    grid-template-columns: 20% 80%;
    margin: 2rem auto;
    padding: 1rem;
    background: var(--background-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition: var(--transition);
}
.dataentry label, .dataentry input, .dataentry textarea, .dataentry select {
    /* display: block; */
    width: 99%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    transition: var(--transition);
}
#legend {
    color: var(--secondary-color);
}

tr {
    font-size: small;
}

#assto, #createby, #priority, #status, #reqby {
    text-transform: uppercase;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    position: relative;
    padding-bottom: 0.5rem;
    margin-top: 10px;
    margin-bottom: 0;
    display: inline-block;
}

.response {
    /* column-span: 5; */
    text-align: left;
    /* shade the even rows */
    /* background-color: #f2f2f2; */
    border-bottom: #000 1px solid;
    /* italics */
    font-style: italic;

}

.appendmodal{
    /* border: #000 1px solid; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    max-width: 460px;
    gap: 5px;
    margin-bottom: 25px;

}
#fieldname {
    grid-column: span 2;
    border: #000 1px solid;
    text-align: center;
    font-weight: 600;
    font-size: small;
    padding-left: 5px;

}
#newtext {
    grid-column: span 6;
    grid-row: 3;
    border: #000 1px solid;
    /* text-align: center; */
    font-weight: 600;
    font-size: small;
    padding-left: 5px;
    height: 125px;
}
.appendmodal button {
    grid-column: span 1;
    grid-row: 4;
    border: #000 1px solid;
    /* text-align: center; */
    font-weight: 600;
    font-size: small;
    padding-left: 5px;
}

#modalsave {
    grid-column: span 1;
    grid-row: 4;
    border: #000 1px solid;
    /* text-align: center; */
    font-weight: 600;
    font-size: small;
    padding-left: 5px;

}

#appendcheckboxlabel {
    grid-column: span 1;
    grid-row: 1;
    grid-column: 5;
    /* border: #000 1px solid; */
    /* text-align: center; */
    font-weight: 600;
    font-size: small;
    padding-left: 5px;
}

#appendcheckbox {
    grid-column: span 1;
    grid-row: 1;
    grid-column: 6;
}
#doit {
    display: none;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 15%;
    left: 70%;    
    /* z-index: -1; */
}
#stamp {
    display: none;
    position: fixed;
    top: 23%;
    left: 70%;
}

#inspectiondate {
    display: none;
}

.header3 {
    padding-bottom: 0px;
}

#logo {
    padding: 20px;
}

#header {
    margin: auto;
    width: 100%;
}


@media print {
    form{
        display: none;
    }
    .entryform {
        display: none;
    }
    #main-nav {
        display: none;
    }
    #doit {
        /* box-shadow: inset 0 0 0 1000px green; */
        display: block;
        border: green 4px solid;
    }
    #stamp {
        display: block;
    }
    #inspectiondate {
        display: block;
    }
}