<div class="logo">
    <img src="../images/ci-logo.png" alt="CI logo" title=''/>
    <a href="../index.html"> <span class="highlight"></span></a>
</div>
<!-- <nav id="main-nav">
    <a href="/index.html">Project</a>
    <a href="../entry.html">Input</a>
    <a href="../detail.html">Document</a>
    <a href="../edit.html">Corrective</a>
    <a href="../recur.html">Competence</a>
</nav> -->
<nav id="main-nav">
    <a href="/index.html">Inputs List</a>
    <a href="../entry.html">Add</a>
    <a href="../detail.html">Detail</a>
    <a href="../recur.html">Recurrence</a>
    <a href="../projects.html">Projects</a>
    <a href="../projectdtl.html">Project Detail</a>
</nav>