<div class="logo">
    <img src="../images/ci-logo.png" alt="CI logo" title=''/>
    <a href="../index.html"> <span class="highlight"></span></a>
</div>
<nav id="main-nav">
    <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/index.html">Inputs</a>
        <ul id="aisubmenu">
            <li><a href="../entry.html">Add</a></li>
            <li><a href="../edit.html">Edit</a></li>
            <li><a href="../recur.html">Recurrence</a></li>
        </ul>
        </li>
        <li><a href="../projects.html">Projects</a>
        <ul id="prjsubmenu">
            <li><a href="../addprj.html">Add</a></li>
        </ul>
        </li>

        <li><a href="../login.html" id="login">Login</a></li>
    </ul>
</nav>